/* reset */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font: 1.6rem sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
ul,
p,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

* {
  box-sizing: border-box;
}

/* body */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  font-size: 1.6rem;
  height: auto;
}

nav {
  background-color: white;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: fixed;
}

#logo img {
  margin: 1rem 0rem 0rem 1rem;
}

#logo p {
  font-weight: bold;
  color: #bbbbbb;
  margin: -3rem 0rem 0rem 5rem;
}

#menu {
  position: absolute;
  max-width: 100%;
  margin: -2.2rem 0rem 0rem 62rem;
}

#menu ul li {
  display: inline-block;
  height: 6rem;
  padding-left: 8.3rem;
}

#menu a {
  padding: 2rem;
  padding-bottom: 1.2rem;
}

#menu a:hover {
  background-color: #dd5347;
  color: #fafafa;
}

#home img {
  max-width: 100%;
  width: 134.5rem;
  height: 65rem;
}

#home p {
  position: absolute;
  margin: -52rem 0rem 0rem 10rem;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
}

#home p a {
  position: absolute;
  text-decoration: none;
  color: #fafafa;
  font-size: 1.5rem;
  margin: 6rem 0rem 0rem -23rem;
  background-color: #dd5347;
  padding: 1.5rem;
}

#arrow img {
  max-width: 100%;
  width: 3.3rem;
  background-color: #dd5347;
  position: absolute;
  margin: -9rem 0rem 0rem 128rem;
  border: 0.8rem solid transparent;
  border-radius: 2rem;
  height: 3.2rem;
}
